:root {
    scroll-behavior: smooth;
    --font-color: black;
    --background: linear-gradient(94deg, rgba(255, 128, 65, 1) 0%, rgba(218, 58, 58, 1) 76%);
    --accent: #ffa443;
    --weight: #dfae53;
    --foreground: white;
    --shadow: #877e8d3b;
    --bar: #d4d4d4;
}

[data-theme="dark"] {
    --font-color: white;
    --background: #3c413c;
}


::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14pt;
}

li {
    list-style-type: none;
}

main {
    width: 100dvw;
    height: 100dvh;
    background: var(--background);
    color: var(--font-color);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 600;
    font-size: 28px;
    text-transform: Capitalize;
    font-family: brother-1816, sans-serif;
}

.upper {
    height: 100%;
    background: var(--foreground);
    box-shadow: 0px 3px 3px var(--shadow);
    overflow: hidden;
    flex-direction: column;
    position: relative;
    z-index: 1;
    transition: all .2s;
    border-radius: 0px;
    justify-content: space-evenly;
}

.open {
    height: 75%;
    border-radius: 0 0 24px 24px;
}

.up {
    width: 30px;
    height: 30px;
    background: var(--background);
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    border: 10px solid var(--foreground);
}

.bar {
    flex-direction: row;
    width: 285px;
    height: 100px;
}

.end:first-of-type {
    transform: rotate(180deg);
}

.end {
    flex-direction: row;
}

.end .graphic {
    border: 1px solid var(--bar);
    animation: .2s forwards fly-in;
}

.middle {
    background-color: var(--bar);
    width: 100%;
    height: 8px;
}

.end {
    background-color: var(--bar);
    width: 80px;
    height: 12px;
    overflow: visible;
    display: flex;
    align-items: center;
}

.cap {
    width: 8px;
    height: 35px;
    background-color: var(--bar);
}

.lower {
    width: 100%;
    height: 25%;
    justify-content: space-evenly;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.weight {
    width: 35px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-weight: 800;
    transition: all .2s;
}

.weight :last-child {
    margin-top: 4px;
}

.graphic {
    background: var(--weight);
    background: white;
    border-radius: 2px;
}

[class*='2.5'] {
    width: 10px !important;
    height: 40px;
}

[class*='5'] {
    width: 15px;
    height: 40px;
}

[class*='10'] {
    width: 15px;
    height: 80px;
}

[class*='25'] {
    width: 20px;
    height: 80px;
}

[class*='35'] {
    width: 25px;
    height: 80px;
}

[class*='45'] {
    width: 30px;
    height: 80px;
}

@keyframes fly-in {
    0% {
        translate: 150px;
    }

    100% {
        translate: 0px;
    }
}